<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Question 1</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 2</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 3</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 4</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 5</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 6</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table2</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 6</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table3</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 7</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table2</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 8</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 9</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table3</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 10</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Question 11</string>
		<key>description</key>
		<string>Goes Here</string>
		<key>imageName</key>
		<string>table3</string>
	</dict>
</array>
</plist>
