<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>StoryTitle</key>
		<string>My Story</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>My Story</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table2</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>My Story</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table3</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>My Story</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>My Story</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table2</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>My Story</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>VCON?</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>VCON?</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>VCON?</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table3</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>VCON?</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
	<dict>
		<key>StoryTitle</key>
		<string>VCON?</string>
		<key>Story</key>
		<string>Is Ray hinting that perhaps it&apos;s Vicki&apos;s turn next year?</string>
		<key>Photo</key>
		<string>table1</string>
	</dict>
</array>
</plist>
